@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-image: url(https://images.unsplash.com/photo-1609969194237-495892711955?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

.navBar {
  font-size: 2rem;
}

header.h1 {
  color: white;
}

div.playerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#playerImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50% 50%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.profileImage {
  object-fit: fit;
  border-radius: 50%;
}
