@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

div.container {
  display: flex;
  justify-content: space-evenly;
}

#playerImg {
  width: 200px;
  border-radius: 50% 50%;
}
